.DS_STORE

.ledit
ledit
testing
test_results.txt
e2e_results.csv
testing_area

.bin
test_dir

/bin/
agent-template
generic-agent
prompt_optimization/cmd/prompt_optimizer
prompt_optimization/cmd/prompt_optimizer_advanced
